body {
    position: relative;
}
div {
    border: 1px solid red;
    width: 2em;
    height: 2em;
    transform: rotate3d(0,0,0, 90deg);
    transition-delay: 0s;
    transition-duration: 2s;
    transition-property: transform;
    transition-timing-function: ease;
}

div:hover {
    transform: rotate3d(2,1,0, 90deg);

}
div:hover~div {
    transform: rotate3d(2,1,0, 90deg);
}
